<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>S.L.A.M. Hacks</h2>
                        <p class="item-intro text-muted">Our first go at hosting a hackathon</p>
                        <div class="embed-responsive embed-responsive-16by9">
                          <video autoplay loop class="embed-responsive-item">
                            <source src="img/portfolio/slamhacks.mp4" type="video/mp4">
                          </video>
                        </div>
                        <!-- <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt=""> -->
                        <p>SLAM HACKS was IEEE Stay Late and Make’s (SLAM) first hackathon. It lasted a total of 26 hours through the weekend of April 2nd – April 3rd. 24 hours were be allocated for the hack, and 2 hours for judging and results. Participation was completely free.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
