<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">The history of Carleton Stay Late And Make</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fall 2014</h4>
                                <h4 class="subheading">Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Three senior students returned from their summer internships where they participated in weekly project development sessions. Wanting to bring these sessions to Carleton, they started Stay Late And Make - weekly meet-ups where students could get help for and work on whatever projects they wanted. Interest started growing and more students began attending	.
                                <!-- An experiment went horribly correct and we were left with this glorious beast known know as Stay Late And Make -->
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Winter 2015</h4>
                                <h4 class="subheading">Rise Above</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">As the semester began, people were looking to tackle bigger projects. A small group of students worked on the WEATHER BALLOON COMPETITION and managed to secure funding for their project. This culminated in the launching of their weather balloon, which was retreived after rising for five hours through the atmosphere.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Summer 2015</h4>
                                <h4 class="subheading">Quiet Times</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Although most people were away for the summer, some the SLAM members held a PCB building workshop that was a resounding success. Students designed their boards, printed them off, and soldered all the components on over the course of a few weekends.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fall 2015</h4>
                                <h4 class="subheading">Passing the Torch</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">With the SLAM founders having graduated last semester, regulars from the previous sessions took over. More workshops were brought to the meetings, including Android app development, web development, and microcontroller programming. The future of SLAM looks bright, and it's just getting better and better. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be A Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
