<header>
    <div class="container">
        <div class="intro-text">

    <h4 style="padding-bottom:2em;" class="section-heading" >An IEEE Carleton Initiative</h4>
    <img src="img/header/SLAM.svg" class="img" style="height:70%;width:70%;" alt="">
          <img src="img/header/Header.svg" class="img" style="padding-top:5em; padding-bottom:2em; height:60%;width:60%;" alt="">
    <div class="intro-heading"style="padding-top:1em; padding-bottom:0.3em;">Bring Your Idea To Life</div>
    <h4 style="padding-bottom:2em;">THURSDAYS at 6:30PM in AP 448B</h4>
    <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
    <div class="row" style="padding-top:50px;">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fieeestaylateandmake&tabs=timeline&width=500&height=300&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=103339295794" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>

  </div>
    </div>
</header>
<script src="js/agency.pagescroll.js"></script>
