<section id="supporters">
    <div class="container">
  <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Our Supporters</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="http://ieeecarleton.ca/">
                    <img src="img/logos/IEEE-Carleton-01.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://carleton.ca/sce/">
                    <img src="img/logos/Carleton-SYSC-01.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://carleton.ca/cuesef/">
                    <img src="img/logos/Carleton-CUESEF-01.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://ieeecanadianfoundation.org/EN/">
                    <img src="img/logos/IEEE-ICF-01.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
