<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Meet the 2016-2017 Stay Late and Make Organizing Committee!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class ="team-member">
                    <!-- img src="img/team/test.jpg" class="img-responsive img-circle" alt="" -->
                    <h4>Sean Tohidi</h4>
                    <p class="text-muted">Outreach and Recruitment</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/seanrt"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://linkedin.com/in/stohidi"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://seanrt.github.io"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
                <div class ="team-member">
                    <!-- img src="img/team/test.jpg" class="img-responsive img-circle" alt="" -->
                    <h4>Justin Fleming</h4>
                    <p class="text-muted">Hack the Month/Acting Director</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/JFleming4"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://ca.linkedin.com/in/justin-fleming-bb035692"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <!--img src="img/team/2.jpg" class="img-responsive img-circle" alt=""-->
                    <h4>Monty Dhanani</h4>
                    <p class="text-muted">Events Coordinator/Slamstagrammer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/Monty1029"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="#https://ca.linkedin.com/in/monty-dhanani-8a3562125"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class ="team-member">
                    <!-- img src="img/team/test.jpg" class="img-responsive img-circle" alt="" -->
                    <h4>Erik Johnson</h4>
                    <p class="text-muted">Hardware Library</p>
                    <ul class="list-inline social-buttons">
          <!--
                        <li><a href="#"><i class="fa fa-github"></i></a>
                        </li>
          -->
                        <li><a href="https://ca.linkedin.com/in/erik-johnson-1978a483"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="team-member">
                    <!--img src="img/team/3.jpg" class="img-responsive img-circle" alt=""-->
                    <h4>Irusha Vidanamadura</h4>
                    <p class="text-muted">Financial Director</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/irushavm/"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://ca.linkedin.com/in/irushavm"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://irushavm.github.io"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
                <div class ="team-member">
                    <!-- img src="img/team/test.jpg" class="img-responsive img-circle" alt="" -->
                    <h4>Derek Stride</h4>
                    <p class="text-muted">Slam Director</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/DerekStride"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://ca.linkedin.com/in/derekstride"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="http://derekstride.io"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class ="team-member">
                    <!-- img src="img/team/test.jpg" class="img-responsive img-circle" alt="" -->
                    <h4>Arun Galva</h4>
                    <p class="text-muted">Webmaster</p>
                    <ul class="list-inline social-buttons">

                        <li><a href="https://github.com/arungalva/"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://ca.linkedin.com/in/arungalva"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="http://arungalva.me"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Come visit us at SLAM.</p>
            </div>
        </div>
    </div>
</section>
