<div class="portfolio-modal modal fade" id="HWLibraryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>SLAM Hardware Library</h2>
                        <p class="item-intro text-muted">Take a look at the a sample of our hardware library below. We
              are always expanding our library to better accommodate the creation of side-projects</p>
          <h3>Development and Evaluation Boards</h3>
          <p><a href="http://www.ti.com/ww/en/launchpad/launchpads-connected-ek-tm4c123gxl.html#tabs">Ti Launchpad</a></p>
          <p><a href="https://store.particle.io/">Particle Photon and Core</a></p>
          <p><a href="https://www.raspberrypi.org/help/what-is-a-raspberry-pi/">Raspberri Pi 1 and 2</a></p>
          <p><a href="https://www.arduino.cc/en/Guide/Introduction">Arduino Boards</a></p>
          <p><a href="http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/LN1847?sc=stm32nucleo">STM21 Nucleo</a></p>
          <p><a href="http://www.embeddedartists.com/products/lpcxpresso/lpc1769_xpr.php">LPC1769 LPCXpresso</a></p>
          <p><a href="http://beagleboard.org/black">BeagleBone Black</a></p>
          <h3>Debugging Equipment</h3>
          <p>Digital Multimeters</p>
          <p>Oscilloscopes</p>
          <p>Funtion Generator</p>
          <p><a href="https://www.saleae.com/">Saleae Logic Analyzer</a></p>
          <p><a href="http://www.atmel.com/webdoc/avrdragon/index.html">AVR Dragon</a></p>
          <p><a href="http://dangerousprototypes.com/docs/Bus_Pirate">Bus Pirate</a></p>
          <p><a href="http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/LN1847?sc=stm32nucleo">STM21 Nucleo</a></p>
          <p><a href="http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/LN1847?sc=stm32nucleo">STM21 Nucleo</a></p>
          <p><a href="http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/LN1847?sc=stm32nucleo">STM21 Nucleo</a></p>
          <h3>Soldering Equipment</h3>
          <p>2 HAKKO Soldering Stations </a></p>
          <p>2 Hot Air Stations for Surface Mount Soldering</a></p>
          <p>Surface Mount Soldering Clamps</a></p>
          <p>Come and see what we have!</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
