<div class="portfolio-modal modal fade" id="workshopsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>SLAM Workshops</h2>
                        <p class="item-intro text-muted"> Take a look at the sample of workshops we offer</p>
                        <h3>Building Microcontroller Boards</h3>
                        <p>Instructor(s): Hasith Vidanamadura<br>
            Design, layout, and assemble an Arduino-compatible microcontroller board.
            The workshop will provide a commercial professional fabrication service as well as the
            testing and design help to get your design working.
          </p>
          <h3>Using APIs</h3>
                        <p>Instructor(s): Derek Stride and Monty Dhanani<br>
            Learn how to interact with the Slack API to create channels, teams,
            groups, messages, and create automated slack bots.
          </p>
          <h3>The Django Web Framework</h3>
          <p>Instructor(s): Krishna Mannem<br>
            Build an elementary web-server using Python's Django framework.
          </p>

          <h3>Machine Learning Concepts</h3>
          <p>Instructor(s): Monty Dhanani<br>
            Learn about the different types of machine learning algorithms in the world today and
            build a recommendation system using Microsoft Azure's Machine Learning Suite.
          </p>

          <h3>Bus Pirates and Logic Analyzers</h3>
          <p>Instructor(s): Irusha Vidanamadura<br>
            Emulating communication routines with peripherals using different hardware protocols(UART, I2C, SPI) with Bus pirates,
            and debugging logic signals and communication messages using Logic Analyzers.
          </p>


          <h3>Android Studio</h3>
          <p>Instructor(s): Monty Dhanani<br>
            Design and deploy a basic Android app using Android studio.
          </p>

          <h3>Ruby on Rails</h3>
          <p>Instructor(s): Derek Stride and Justin Fleming<br>
            Build a Rails web app using Ruby on Rails.
          </p>

          <h3>Internet Connected Microcontrollers</h3>
          <p>Instructor(s): Irusha Vidanamadura<br>
            Learn about and create programs that can run on Particle Photon WiFi-connected microncontroller boards.
          </p>

          <h3>Database Design</h3>
          <p>Instructor(s): Justin Krol<br>
            How to use an SQL database to store and retrieve data that for your next project.
          </p>

                        <p>More Coming Soon!</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
