<div class="portfolio-modal modal fade" id="workspaceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>SLAM Workspace: AP 448B</h2>
                        <p class="item-intro text-muted">Our weekly sessions are held in Azrieli Pavilion 448B at Carleton University.</p>
          <div class="col-md-6">
                        <img class="img-responsive img-centered" src="img/services/workspace-1.jpg" alt="">
          </div>
          <div class="col-md-6">
          <img class="img-responsive img-centered" src="img/services/workspace-2.jpg" alt="">
          </div>
                        <p>With cooperation with the Carleton Department of Systems and Computer Engineering, SLAM was able to establish AP 448B as a permanent location our weekly meetup sessions.
              This room is used as a project workspace room by all engineering students at Carleton. 4th year students and other societies.</p>
          <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d700.5769192744618!2d-75.69968417074529!3d45.382963940638454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDIyJzU4LjciTiA3NcKwNDEnNTYuOSJX!5e0!3m2!1sen!2sca!4v1476400354299" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
          <br>
          <br>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
