<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>SpaceGoldfish (Officially known as CU in the Air)</h2>
                        <p class="item-intro text-muted">Project Members: Derek Stride, Irusha Vidanamadura, Krishna Mannem,
            Oscar Zambrano,  Maurice Wier, Amente Bekele, Travis Ridge</p>
                        <img class="img-responsive img-centered" src="img/portfolio/spaceGoldfish-main.jpg" alt="">
                        <p>
            CU in the Air is a group of Carleton University engineering students that have come
            together to put their love for creative thinking and problem solving to the test.
            As we are always looking for a challenge, the Global Space Balloon Challenge grabbed our attention immediately.
            Excited to see what kind of results we can produce, CU in the Air has officially joined
            the effort in celebrating an age where anyone can reach the edge of space for no more
            than a few hundred dollars.
          </p>
          <p>
            The Tiva Launchpad (TM4C123G) was used as the microcontroller to measure Accelerometer,
            Barometer, and GPS location data, and send it through a Digital transmitter down to our
            base station. The payload also had a GoPro that was attached to a video transmitter. The
            base station consisted of a minivan with two antenna's on it: one for the digital transmitter
            and one for the analog transmitter. After the balloon was launched, the base station was used
            to catch up and stay in range with the balloon such that we received all the data.
          </p>
          <p>
                            Visit their <a href="http://carletonslam.github.io/spacegoldfish/">Website</a>, <a href="https://github.com/CarletonSLAM/spacegoldfish">Github Repository</a> or check out the page for the <a href="https://www.balloonchallenge.org/">Global Space Balloon Challenge</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
