<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->

                        <h2>Carleton Schedule Optimizer</h2>
                        <p class="item-intro text-muted">Project by Sean Tohidi</p>
                        <img class="img-responsive img-centered" src="img/portfolio/carletonscheduler.png" alt="">
                        <p>This <a href="https://carletonscheduler.herokuapp.com">web application</a> takes in Carleton University courses for a given semester. It grabs the courses' data off of Carleton's website and then finds a schedule made with those courses while minimizing the amount of breaks between classes. This project was written in Python, and the webpage was build using the Django framework.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
