<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Proxima Education Robotics Platform (PERP)</h2>
                        <p class="item-intro text-muted">Project Members: Hasith Vidanamdaura, Robert Nelson, and Darren Stahl</p>
                        <img class="img-responsive img-centered" src="img/portfolio/proximaBoard-main.jpg" alt="">
                        <p>
            The Proxima Educational Robotics Platform is an ARM based robotics platform designed
            for teaching at Carleton.The objective of this project is to provide a consistent and
            modern hardware platform for use in courses throughout Carleton. This platform will
            be designed to provide a wide range of functionality, enabling multiple courses to
            base their lab work around it. In addition to the modernization of the course content,
            the platform will also help recruitment by providing a very tangible and visible
            product that Carleton can take to school fairs, and demonstrate to prospective students.
          </p>
          <p>
            The robotics platform will have two primary hardware components, the wireless monitor,
            and the main peripheral board. Users interact with the main peripheral board by plugging
            in a primary microcontroller board that contains an ARM-based microcontroller running
            user-written programs. The pluggable interface allows flexibility in the selection of
            the primary microcontroller board, and the end user is not constrained to a single
            interface or a vendor for their needs. This strategy also maximizes the usable
            lifetime of the platform, as a vendor rendering a specific development board obsolete
            will no longer affect the usability of the platform.

          </p>
                        <p></p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
